%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %strong
        = link_to 'Bookstore', root_url, { class: 'navbar-brand' }
    %ul.nav.navbar-nav.navbar-right
      = render 'shared/header/header_links'
