%main.container
  %h1.general-title-margin= t('.title')
  %ul.nav.clearfix.mb-20{role: "tablist"}
    %li.tab-item.active{role: "presentation"}
      -# = link_to t('.address'), settings_address_url, class: 'tab-link', 'aria-controls' => "address", 'role' => "tab", 'data-toggle' => "tab", remote: true
    %li.tab-item{role: "presentation"}
      -# = link_to t('.privacy'), settings_privacy_url, class: 'tab-link', 'aria-controls' => "privacy", 'role' => "tab", 'data-toggle' => "tab", remote: true
  .tab-content
    #address.tab-pane.fade.in.general-main-wrap.active{role: "tabpanel"}
